@keyframes comefromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }

  80% {
    transform: translateX(8%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes comefromRight {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }

  80% {
    transform: translateX(-8%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes comefromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}